:root {
	--mini-background: #ffffff;
	--main-text: #333;

	--stars-background: #ffe7c6;
	--stars-text: #ffaf40;
}

[data-theme='dark'] {
	--mini-background: #212121;
	--main-text: #fbfbfb;

	--stars-background: #ffe7c6;
	--stars-text: #ffaf40;
}
