:root {
	--background: #efeef3;

	--mini-background: #ffffff;
	--main-text: #333;
	--second-text: #8b8b8b;

	--nav-text: #959595;

	--create-course-button: #ffece1;

	--active-color: #f3734e;

	--stars-background: #ffe7c6;
	--stars-text: #ffaf40;
}

[data-theme='dark'] {
	--background: #0f0f0f;

	--mini-background: #212121;
	--main-text: #fbfbfb;
	--second-text: #aaa;

	--nav-text: #959595;

	--create-course-button: #ffece1;

	--active-color: #f3734e;

	--stars-background: #ffe7c6;
	--stars-text: #ffaf40;
}
