a {
    text-decoration: none;
}

span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: #aaaaaa;
    margin-left: 16px;
    width: 95%;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.acor-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.acor-container .acor-body {
    width: 92.5%;
    margin: 0 auto;
    margin-left: 7.5%;
    height: 0;
    color: white;
    background-color: #161616;
    line-height: 18.2px;
    padding: 0 15px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-weight: 500;
    font-size: 14px;
    border-radius: 16px;
    white-space: pre-line;
}
.acor-container .acor-body span {
    margin: 0 0 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-transform: none;
}
.acor-container label {
    position: relative;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    font-weight: 500;
    z-index: 100; 
    font-size: 14px;
    margin-top: 8px;
    transition: color .35s;
    border-radius: 16px;
}

.acor-container label img {
    margin-left: 4px;
    margin-right: 12px;
}

.acor-container label:hover {
    color: #FFF;
}

.acor-container input{
    display: none;
}

.acor-container label:before {
    content: '\276F';
    position: absolute;
    right: 15px;
}

.acor-container input:checked + label {
    background-color: #161616;
    color: #FFF;
}

.acor-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked + label + .acor-body {
    height: auto;
    margin-top: 8px;
    color: white;
    padding: 10px 15px 10px 15px;
}

.acor-container input:not(:checked) + label + .acor-body {
    height: 0px;
    margin-top: 8px;
    color: white;
    padding: -10px -15px -10px -15px;
}

.prev {
    width: 100%;
    height: 428px;
    background-image: url('../assets/course/preview.png');
    background-size: cover;
    background-position: center;
}

.back_btn {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    background-color: #161616;
    background-image: url('../assets/feedback/back.svg');
    background-position: center;
    border-radius: 24px;
    background-repeat: no-repeat;
    margin-right: 8px;
    z-index: 50;
}

.prev p {
    color: white;
    width: 90%;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 304px;
    text-shadow: 1px 1px 2px black;
}

.prev_date {
    width: 90%;
    margin-left: 16px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-shadow: 1px 1px 2px black;
}

.getContact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    border-radius: 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -64px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.billet {
    width: 93%;
    min-height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161616;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    padding-left: 8px;
    border-radius: 16px;
    margin-bottom: 8px;
}

.billet img {
    width: 32px;
    height: 32px;
}

.billet p {
    width: 80%;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback .rate {
    width: calc(95% - 18px);
    height: 48px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    border-radius: 32px;
    background: linear-gradient(to right, #EA4A4F, #D8BB55, #7EBB69);
    background-image: url('../assets/feed/star.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 12px;
    font-weight: 600;
    color: #161616;
    line-height: 32px;
    border: 9px solid #161616;
    margin-bottom: 8px;
}

.feedback .rate p {
    width: 100%;
    text-align: center;
}

.feedback .row_grad_l {
    width: calc(95% - 18px);
    margin-top: -66px;
    margin-bottom: 18px;
}

.feedback .grad_l {
    width: 100%;
    background: linear-gradient(to right, #EA4A4F, #D8BB55, #7EBB69);
    border-radius: 32px;
    height: 48px;
    z-index: 0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .description {
    width: 93%;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    padding-left: 8px;
    border-radius: 16px;
    margin-bottom: 8px;
    background-color: #161616;
    color: #FFF;
    padding-top: 8px;
    white-space: pre-line;
    padding-bottom: 8px;
}

.card_mentor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points_user {
    width: calc(95% - 94px);
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 78px;
    margin-left: 8px;
}

.point_user {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    img {
        width: 16px;
        height: 16px;
    }
}


.card_wp {
    width: 95%;
    border-radius: 16px;
    display: flex;
    height: 78px;
    flex-direction: row;
    background-color: #161616;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}