.rate {
	width: calc(100% - 16px);
	height: 16px;
	display: flex;
	text-align: center;
	flex-direction: row;
	border-radius: 16px;
	background: linear-gradient(to right, #ea4a4f, #d8bb55, #7ebb69);
	background-image: url('../../shared/assets/feed/star.svg');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: 8px;
	font-weight: 600;
	color: #161616;
	line-height: 16px;
	z-index: 10;
	border: solid #161616 1px;
}

.rate p {
	width: 100%;
	text-align: center;
}

.feed_top_panel {
	display: flex;
	position: sticky;
	top: 8px;
	height: 48px;
	width: calc(100% - 16px);
	flex-direction: row;
	align-items: center;
	z-index: 1000;
	column-gap: 8px;
	margin-bottom: 16px;
}

.billet_search {
	height: 48px;
	flex-grow: 1;
	z-index: 150;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid #1c1c1e;
	border-radius: 24px;
	color: white;
	font-size: 14px;
	font-weight: 500;
	line-height: 18.2px;
	outline: none;
	background-image: url('../../shared/assets/feed/zoom.svg');
	background-repeat: no-repeat;
	background-position: 12px;
	padding-left: 48px;
	padding-right: 8px;
}

.wallet_btn {
	width: 48px;
	height: 48px;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid #1c1c1e;
	background-image: url('../../shared/assets/feed/wallet.svg');
	background-position: center;
	background-size: 24px 24px;
	border-radius: 24px;
	background-repeat: no-repeat;
	z-index: 150;
}

.profille_btn {
	width: 48px;
	height: 48px;
	backdrop-filter: blur(10px);
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid #1c1c1e;
	background-image: url('../../shared/assets/feed/boy.webp');
	background-position: center;
	background-size: 24px 24px;
	border-radius: 24px;
	background-repeat: no-repeat;
	z-index: 150;
}
