* {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: var(--tg-viewport-height);
	color: aliceblue;
	background-color: var(--background);
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding-top: calc(
		var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top)
	);
}

::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	overflow-x: hidden;
}

body {
	-ms-overflow-style: none;
	overflow-x: hidden;
}

.loading {
	position: absolute;
	top: 305px;
	left: calc(50% - 45px);
	width: 80px;
	height: 80px;
	background-image: url('../shared/assets/load.gif.mp4');
	background-size: contain;
	background-position: center;
}
