.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

.billet_name {
    width: 82%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/camera.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 48px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.billet_desc {
    width: 91%;
    height: auto;
    overflow: hidden;
    resize: none;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}

.billet_univ {
    width: 93%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/notebook.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 48px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.billet_course {
    width: 96%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/chart.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 48px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.billet_subject {
    width: 93%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/hash.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 48px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.billet_topic {
    width: 82%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/hash.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 48px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.billet_add {
    width: 93%;
    height: 48px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/plus.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.publish {
    flex: 0 0 auto;
    width: 100%;
    bottom: 10px;
    position: sticky;
    display: flex;
    background: rgba(16,16,16, 0.9);
    border-radius: 24px;
    justify-content: space-around;
    z-index: 150;
    padding-top: 8px;
}

.publish_btn {
    width: 96%;
    height: 48px;
    background-color: white;
    border-radius: 16px;
    border: none;
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/roll.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    padding-left: 16px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.upload-container {
    position: relative;
}

.back_btn {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    background-color: #161616;
    background-image: url('../assets/feedback/back.svg');
    background-position: center;
    border-radius: 24px;
    background-repeat: no-repeat;
    margin-right: 8px;
    z-index: 50;
}
  
.upload-container input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.preview-container {
    width: 100%;
    height: 428px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.select_col {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 95%;
}

.select_subject {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    width: calc(100% - 56px);
    min-height: 32px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/hash.svg');
    background-repeat: no-repeat;
    background-position: left 4px top 8px;
    padding-left: 48px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    align-items: center;
}

.select_univ {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    width: calc(100% - 56px);
    min-height: 32px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/notebook.svg');
    background-repeat: no-repeat;
    background-position: left 4px top 8px;
    padding-left: 48px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    vertical-align: middle;
    align-items: center;
}

.select_course {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    width: calc(100% - 56px);
    min-height: 32px;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/create-course/chart.svg');
    background-repeat: no-repeat;
    background-position: left 4px top 8px;
    padding-left: 48px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    align-items: center;
}

.select_bio {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    width: calc(100% - 56px);
    min-height: 32px;
    height: auto;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    outline: none;
    background-image: url('../assets/profile/bio.svg');
    background-repeat: no-repeat;
    background-position: left 4px top 8px;
    padding-left: 48px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    vertical-align: middle;
    align-items: center;
}

.selected_row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: auto;
    border-radius: 8px;
    background-color: black;
    gap: 8px;
    font-size: 14px;
    line-height: 18.2px;
    align-items: center;
    vertical-align: middle;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.select_input {
    background-color: #181818;
    color: #AAAAAA;
    height: 18px;
    font-size: 14px;
    width: auto;
    outline: none;
    border: none;
}

.bio_textarea {
    width: calc(100% - 48px);
    height: 24px;
    overflow: hidden;
    resize: none;
    background-color: #181818;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    padding-left: 8px;
    padding-top: 8px;
    outline: none;
}