.create_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 5px;
    z-index: 150;
    backdrop-filter: blur(10px);
}

.create_button a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}