.wallet {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6.154vw;
	padding-top: 4.872vw;
	padding-bottom: 22.564vw;
}

.wallet__title {
	color: var(--main-text);
	font-family: 'Geologica';
	font-size: 4.615vw;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	width: 91.282vw;
	margin-bottom: -2.051vw;
}
