.course-button {
	cursor: pointer;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6.154vw;
	height: 6.154vw;
	border-radius: 44px;
	background: var(--stars-background);
}

.course-button__icon {
	width: 4.103vw;
	height: 4.103vw;
}
